@media screen and (max-width: 480px) {

    /* Universal */

    header {
        background-position: center;
    }

    h1 {
        font-size: 30px;
    }

    .sidebar {
        display: grid;
        grid-template-columns: 140px 180px;
        align-items: center;
        grid-template-areas:
        "nav search";
    }

    .navbar,
    .searchbar {
        transform: scale(0.8);
        margin-left: -12px;
    }

    .home {
        margin-right: 5px;
    }
    
    /* Homepage */

    .container {
        display: grid;
        grid-template-columns: 320px;
        grid-auto-rows: minmax(20px, auto);
        justify-content: space-around;
        grid-template-areas: 
        "hd"
        "sd"
        "main"
        "ft";
    }

    .card-info {
        font-size: 12px;
    }
    
    /* Posts */

    .container-blog {
        font-size: 14px;
        display: grid;
        grid-template-columns: 320px;
        grid-auto-rows: minmax(20px, auto);
        justify-content: space-around;
        grid-template-areas:
        "hd"
        "sd"
        "main"
        "prnxt"
        "ibar"
        "ft";
    }

    .container-blog .sidebar {
        font-size: 16px;
    }

    .list-about,
    .list-social {
        padding-right: 40px;
    }

    .infobar {
        grid-template-columns: 320px;
        grid-auto-rows: minmax(20px, auto);
        margin-top: 10px;
    }

    figcaption {
        font-size: 11px;
        font-style: italic;
    }

    figure {
        display: block;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
    /* Homepage */

    .container {
        display: grid;
        grid-template-columns: 125px 50px 1fr;
        grid-auto-rows: minmax(20px, auto);
        grid-template-areas:
        "hd hd hd hd"
        "sd sd sd sd"
        "main main main main"
        "ft ft ft ft";
    }

    .sidebar {
        display: grid;
        align-items: center;
        justify-content: space-around;
        grid-template-columns: 175px auto 200px;
        grid-template-areas:
        "nav . search" ;
    }

    .card-info {
        font-size: 14px;
    }

    /* Blog post */

    .container-blog {
        display: grid;
        width: 100%;
        grid-template-columns: auto 150px;
        grid-auto-rows: minmax(20px, auto);
        /* justify-content: space-around; */
        grid-template-areas:
        "hd hd hd hd"
        "sd sd sd sd"
        "main main main ibar"
        "prnxt prnxt prnxt ."
        "ft ft ft ft"
    }

    figcaption {
        font-size: 11px;
    }

    /* Info bar */
    
    .infobar {
        grid-template-columns: 175px;
        grid-template-rows: minmax(20px,auto);
        font-size: 14px;
        height: 1100px;
    }

    .list-about,
    .list-social {
        padding-right: 35px;
    }

    #name,
    #job,
    #company {
        padding-bottom: 5px;
    }

    .subscribe {
        padding: 0px 5px;
    }

    .subscribe input {
        margin-bottom: 5px;
        width: 150px;
    }
}

@media screen and (min-width: 769px) {

    /* Homepage */

    .container {
        display: grid;
        grid-template-columns: 200px 50px 500px;
        grid-auto-rows: minmax(2px, auto);
        grid-template-areas:
        "hd hd hd hd hd hd"
        "sd sd sd sd sd sd"
        "main main main main main main"
        "ft ft ft ft ft ft";
    }

    .sidebar {
        display:grid;
        align-items: center;
        justify-content: space-around;
        grid-template-columns: 175px auto 300px;
        grid-template-areas:
        "nav . . search" ;
    }

    /* Blog post */

    .container-blog {
        display: grid;
        grid-template-columns: 400px 200px;
        grid-auto-rows: minmax(20px, auto);
        justify-content: space-around;
        grid-template-areas:
        "hd hd hd hd hd hd"
        "sd sd sd sd sd sd"
        "main main main main main ibar"
        "prnxt prnxt prnxt prnxt prnxt ."
        "ft ft ft ft ft ft";
    }

    figcaption {
        font-size: 13px;
    }

    /*infobar */

    .infobar {
        height: 1200px;
    }

    .list-about,
    .list-social {
        padding-right: 35px;
    }

    .list-about {
        font-size: 14px;
    }

    #name,
    #job,
    #company {
        margin-bottom: 5px;
    }

    .formStyle {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

/* Grid areas */

header {
    grid-area: hd;
}

.sidebar {
    grid-area: sd;
}

.navbar {
    grid-area: nav;
}

.searchbar {
    grid-area: search;
}

main {
    grid-area: main;
}

.previousnext {
    grid-area: prnxt;
}

.infobar {
    grid-area: ibar;
}

footer {
    grid-area: ft;
}